<div class="row-fluid">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Drink Name</th>
				<th>Cost</th>
				<th></th>
			</tr>
		</thead>
		<tr>
			<td>Coffee</td>
			<td>$3.85</td>
			<td>
			<div class="divButtons">
			<a href="#" class="btn btn-mini btn-primary">Buy this !</a>
			</div>
			</td>
		</tr>
		<tr>
			<td>Americano</td>
			<td>$3.3</td>
			<td><a href="#" class="btn btn-mini btn-primary">Buy this !</a></td>
		</tr>
		<tr>
			<td>Latte</td>
			<td>$2.85</td>
			<td><a href="#" class="btn btn-mini btn-primary">Buy this !</a></td>
		</tr>
	</table>
<!-- 	<div id="windowTitleDialog" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true" style="display: block;">
		<div class="modal-header">
			<a href="#" class="close" data-dismiss="modal" onclick="closeDialog ();">&times;</a>
			<h3>Total cost of purchase is $3.85</h3>
		</div>
		<div class="modal-footer">
			 <a href="#" class="btn btn-primary" onclick="okClicked ();">OK</a>
		</div>
	</div> -->
</div>