<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl" ng-show="isLoggedIn">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" />
            <a class="brand span2">Barista-matic</a>
            <div class="nav-collapse collapse">
                <ul class="nav span8">
                    <li class="active"><a href="#">Ingredients</a></li>
                    <li><a href="#login">Report</a></li>
                </ul>
                    <ul class="nav pull-right">
                        <li class="active navbar-text">Welcome, {{username}}!</li>
                    </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>